{% extends 'accounts/main.html' %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <hr>
        <div class="card card-body">
            <a class="btn btn-warning" href="">Create Student</a>
            <table class="table table-sm">
                <tr>
                    <th>id</th>
                    <th>name</th>
                    <th>phone</th>
                    <th>email</th>
                    <th>avatar</th>
                    <th>Update</th>
                    <th>Remove</th>

                </tr>
                {% for student in student %}
                <tr>
                    <td>{{student.id}}</td>
                    <td>{{student.fullname}}</td>
                    <td>{{student.phone}}</td>
                    <td>{{student.email}}</td>
                    <td>{{student.avatar}}</td>
                   <td> <a href="#">Update</a></td>
                    <td><a href="#">Remove</a></td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <div class="col-md-12">
        <hr>
        <div class="card card-body">
            <a class="btn btn-warning" href="">Create Course</a>
            <table class="table table-sm">
                <tr>
                   <th>id</th>
                    <th>name of course</th>
                     <th>description</th>
                    <th>price</th>
                    <th>Category</th>
                    <th>Img</th>
                    <th>Update</th>
                    <th>Remove</th>

                </tr>
                {% for courses in courses %}
                <tr>
                    <td>{{courses.id}}</td>
                    <td>{{courses.nameCourse}}</td>
                    <td>{{courses.description}}</td>
                    <td>{{courses.price}}</td>
                    <td>{{courses.category}}</td>
                    <td>{{courses.courseImg}}</td>
                    <td><a href="#">Update</a></td>
                    <td><a href="#">Remove</a></td>

                </tr>
                {% endfor %}
            </table>
        </div>
    </div>


</div>
{% endblock %}