<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">
		<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat, eaque labore, reiciendis ad sapiente natus fugiat consectetur eius eos at ex commodi nam asperiores rerum minus quisquam culpa cum inventore.</p>
	</div>
	<div class="container-fluid">
		<p>Lorem ipsum dolor sit, amet consectetur, adipisicing elit. Tenetur esse animi sunt libero expedita id quis, quos pariatur magni eius aspernatur, natus aut enim laborum, magnam tempore quae suscipit sit.</p>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-xl-6">
				<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis ipsum aut sit eligendi amet placeat qui error culpa eum alias harum vel, doloremque expedita sunt facilis fugit quibusdam ab quasi.</p>
			</div>
			<div class="col-xl-6">
				<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis ipsum aut sit eligendi amet placeat qui error culpa eum alias harum vel, doloremque expedita sunt facilis fugit quibusdam ab quasi.</p>
			</div>
			<div class="col-lg-6">
				<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis ipsum aut sit eligendi amet placeat qui error culpa eum alias harum vel, doloremque expedita sunt facilis fugit quibusdam ab quasi.</p>
			</div>
			<div class="col-lg-6">
				<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis ipsum aut sit eligendi amet placeat qui error culpa eum alias harum vel, doloremque expedita sunt facilis fugit quibusdam ab quasi.</p>
			</div>
		</div>
	</div>
</body>
</html>