{% extends 'accounts/main.html' %}
{% block content %}
<style>
    h3{
    text-align:center;
    font-size: 30px;
    font-weight: bold;
    }
    p{
    text-align:center;
    font-size: 25px;
    }
    input{

    }

</style>
<h3>Nhập password mới</h3>

<p>Vui lòng nhập mật khẩu mới của bạn hai lần để chúng tôi có thể xác minh rằng bạn đã nhập đúng mật khẩu</p>

<center>
    <form action="" method="post">
    {% csrf_token %}
    {{form}}
    <input type="submit" name="Update Password">
</form>
</center>
{% endblock %}