{% extends 'accounts/main.html' %}
{% block content %}

<style>
    h3{
    text-align:center;
    font-size: 30px;
    font-weight: bold;
    }
    p{
    text-align:center;
    font-size: 25px;
    }
    input{

    }
</style>
<h3>Password reset</h3>

    <p>Quên mật khẩu? Nhập địa chỉ email của bạn vào bên dưới và chúng tôi sẽ gửi email hướng dẫn để thiết lập một địa chỉ mới.</p>

<center><form action="" method="post">
    {% csrf_token %}
    {{form}}
    <input type="submit" name="send email">
</form></center>
{% endblock %}